@using Microsoft.AspNetCore.Identity
@using QuanLyTruyenThong_TuVan.Models

@inject SignInManager<ApplicationResident> SignInManager
@inject UserManager<ApplicationResident> UserManager

<ul class="navbar-nav ml-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> <i class="fas fa-user"></i></a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
